# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules

# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Config folders and files
.github
_config.yml
_.config.yml
.editorconfig
.gitattributes
.gitignore
.nvmrc
.prettierignore
.prettierrc
.stylelintignore
.stylelintrc
.travis.yml
.whitesource
renovate.json
tsconfig.json
tslint.json
yarn.lock

!dist
demo
